<hello name="{{ name }}"></hello>
<p>la {{ name }} che rende felice :)</p>

<div class="form-field">
  <label name="operatore1">operatore 1 </label>
  <input type="number" class="forms-module" [(ngModel)]="operatore1">
  <label name="operatore2">operatore 2 </label>
  <input type="number" class="forms-module" [(ngModel)]="operatore2">
  <br />
  <label name="risultato">risultato </label>
  <input type="number" class="forms-module" [(ngModel)]="risultato">
</div>
<br />
<div>
  <button class="btn btn-primary" [disabled]="operatore1 == 0 && operatore2 == 0" (click)="somma()">+</button>
  <button class="btn btn-primary" [disabled]="operatore1 == 0 && operatore2 == 0" (click)="differenza()">-</button>
  <button class="btn btn-primary" [disabled]="operatore1 == 0 && operatore2 == 0" (click)="prodotto()">x</button>
  <button class="btn btn-primary" [disabled]="operatore1 == 0 && operatore2 == 0" (click)="quoziente()">/</button>
</div>
<br>
<div>
  <button class="btn btn-primary" [disabled]="operatore1 == 0 && operatore2 == 0" (click)="reset()">reset</button>
</div>
